{% include "header.html" %}

<div class="wemo-body text-center">

{% for device in devices %}
    <h2>{{ device.name }} <label class="switch">
  <input id="powerswitch" type="checkbox" checked>
  <span class="slider round"></span>
</label></h2>
    <hr>

    {% if device.activities %}
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col-75">Activity Name</th>
              <th scope="col">Time</th>

            </tr>
        </thead>
        <tbody>

            {% for activity in device.activities %}
                <tr>
                    <td>{{ activity.activity_name }}</td>
                    <td>{{ activity.activity_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p> No activities for outlet </p>

    {% endif %}
{% endfor %}


</div>

<script>
    $(document).ready(function(){
     $("#powerswitch").click(function(){
        clicked = $(this).attr("name");
        $.ajax({
          type : 'POST',
          url : "http://localhost:5000", //"{{url_for('index.index')}}",
          data : {'data':clicked}
        });
     });
    });

</script>

{% include "footer.html" %}