{% include "header.html" %}

<div class="wemo-body text-center">

{% for device in devices %}
    <h2>{{ device.name }} </h2>
    <hr>

    {% if device.activities %}
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col-75">Activity Name</th>
              <th scope="col">Time</th>

            </tr>
        </thead>
        <tbody>

            {% for activity in device.activities %}
                <tr>
                    <td>{{ activity.activity_name }}</td>
                    <td>{{ activity.activity_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p> No activities for outlet </p>

    {% endif %}
{% endfor %}


</div>

{% include "footer.html" %}